.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color: teal;
}

/*button {
  color: white;
  background-color: green;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10;
}*/

.card {
  margin: 10px;
}

#scroll-area {
  height: 600px;
  overflow-y: scroll;
}

.jumbotron {
  padding: 20px;
  height: 100px;
}